/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

/* Navbar */
.navbar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 1px;
}

/* Profile Picture */
#profile-pic {
    border-radius: 50%;
}

/* About Me Section */
.aboutme {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

/* Skills Section */
.skills {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Projects Section */
.projectSection {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Education Section */
.educationSection {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
    background-color: #f1f1f1;
    color: #333;
}
